@charset " UTF-8";

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ol,
li,
ul {
    list-style: none;
}

body {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    color: #333;
    font-family: Arial, "고딕", Helvetica, sans-serif;
    font-size: 14px;
}

#wrap{
    width: 1200px;
    /* height: 700px; */
    margin: 0 auto;
    /* background-color: aqua; */
    position: relative;
}

/* header 영역 */

#header{
    /* width: 100%; */
    height: 100px;
    /* background-color: blueviolet; */
}

.logo{
    float: left;
    width: 200px;
    height: 100px;
    /* border: 1px solid red; */
    padding-top: 30px;
}

.logo a{}


.logo a img{}



.nav{
    float: right;
    padding-top: 50px;
    margin-right: 20px;
}

.main{}

.main > li{
    float: left;
    position: relative;
}

.main > li > a{
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #ff5050;
    font-size: 18px;
    font-weight: bold;
    color: #ffc000;
}

.main > li:hover > a{
    background-color: #5b9bd5;
}

.sub{
    position: absolute;
    left: 0;top: 50px;
    width: 100%;
    z-index: 20;
    display: none;
}

.sub li{}

.sub li a{
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: 800;
    background-color: #5b9bd5;
}

.sub li:hover a{
    background-color: #ffc000;
}



.sub_bg{
    display: none;
    width: 1200px;
    height: 120px;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #5b9bd5;
    z-index: 10;
}

/* #container */

#container{
    height: 500px;
    /* background-color: lightcyan; */
}



/* view영역 */

.view{
    height: 300px;
}
.fade{
    height: 300px;
    position: relative;
}
.fade li{
    width: 100%;
    height: 300px;
    position: absolute;
}

/* contents */
.contents{}


.contents > div{
    width: 400px;
    height: 200px;
    float: left;
}

.contents h2{
    width: 100px;
    height: 35px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    line-height: 35px;
    background-color: #ffc000;
    border-radius: 10px 10px 0 0 ;
}

.contents ul{
    width: 100%;
    height: 165px;
    background-color: #ffc000;
    border-radius: 0 10px 0 10px;
    padding: 10px;
}

.notice{}

.notice ul{}

.notice ul li{
    height: 36px;
    line-height: 36px;
    border-bottom: 1px dotted gray;
}

.notice ul li a{
    float: left;
    width: 75%;

    text-wrap: nowrap;/*  줄바꿈 삭제 */
    overflow: hidden; /* 넘치는거 감추기 */
    text-overflow: ellipsis;/*  감춰져있는 문장 ...으로 교체 */
    /* 위 3줄 모두 사용하여 width값보다 문장이 길어져 아래로 떨어지는상황이 올경우에 글을 감추고 ... 으로 대체한다 */
}

.notice ul li span{
    float: right;
}



.gallery{}

.gallery ul{
    text-align: center;
}

.gallery ul li{
    display: inline-block;
}

.gallery ul li a{}

.gallery ul li a img{
    opacity: 0.8;
    transition: all 0.3;
}

.gallery ul li a img:hover{
    opacity: 1;
}

.baro{}
.baro p{
    height: 165px;
    background-color: #ffc000;
    padding: 4px 0;
}

.baro p a{}
.baro p a img{}



/* footer */


#footer{
    height: 100px;
    background-color: lime;
}